.memory-game {
    width: 98%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: darkgreen;
    /* perspective: 1000px; */
}

.double4 {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    /* 有沒有彈性 隨時變動？ 還是需要先寫好情況 */
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.double5 {
    width: calc(20% - 10px);
    height: calc(20% - 10px);
    /* 有沒有彈性 隨時變動？ 還是需要先寫好情況 */
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.double6 {
    width: calc(16.65% - 10px);
    height: calc(16.65% - 10px);
    /* 有沒有彈性 隨時變動？ 還是需要先寫好情況 */
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #81d8f3;
    backface-visibility: hidden;
}

/* 關閉 for ready */
/* .front-face { 
    transform: rotateY(180deg);
} */

.front-face_start {
    transform: rotateY(180deg);
}

.back-face_ready {
    transform: rotateY(180deg);
}

.card-color {
    border: rgb(238, 56, 56) solid 5.0px;
    border-style: dotted;
}

.card-color-opponent {
    border: rgb(41, 44, 233) solid 5.0px;
    border-style: dotted;
}
