*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5% 2% 5%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: salmon solid 2px;
}

#left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: black 2px solid;
    background-color: royalblue;
    width: 20%;
}

#user_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: red solid 2px
}

.user_photo {
    /* margin-left: 30%; */
    width: 60%;
    border: royalblue solid 2px;
    margin: 0 auto;
}

#input_name{
    width: 60%;
    font-size: 1.5rem;
    margin: 0 auto;
}

#chat_room {
    display: flex;
    flex-direction: column;
    height: 380px;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: red
}

#messages {
    margin: 10px 0 5px 0;
    background-color: coral;
    /* border: black solid 2.5px; */
    height: 90%;
}

#sendmsg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(201, 162, 7);
}

#input {
    width: 80%;
}

#send {
    font-size: 1.5rem;
}

#paper_scissor_stone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mora {
    margin: 0 auto;
    border: red solid 2px;
    width: 25%;
}

#middle {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#rule_setting {
    /* align-items: center; */
    border:seagreen solid 2px;
    font-size: 2.5rem;
}

#setting_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border: salmon solid 2px;
}

.details {
    width: 40%;
    margin: 1rem auto;
    background-color: red;
    margin-bottom: 200px;
    font-size: 1.5rem;
}

.button {
    font-size: 1.5rem;
    width: 100px;
}

#start {
    margin: 0 auto;
    /* 如何撐開innerline? */
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: sienna solid 2px;
    align-items: center;
    width: 20%;
}

#opposite_user_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: red solid 2px
}

#opposite_user_name{
    width: 60%;
    font-size: 1.5rem;
    margin: 0 auto;
    background-color: skyblue;
    /* 文字如何置中? */
}



